 .p-field {
    margin-bottom: 1rem;
  }
  
  .p-field label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .p-field input,
  .p-field textarea,
  .p-field p-dropdown {
    width: 100%;
  }
  