<form [formGroup]="registerForm" (ngSubmit)="submitDetails()" class="register-form">
  <p-card header="Register" class="p-shadow-3">
    <div class="p-fluid">
      <div class="field">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          class="w-full"
          name="fullName"
          placeholder="Type your name"
        />
        <small
          *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
          class="block p-error"
        >
          <div *ngIf="fullName.errors?.['required']">Name is required.</div>
          <div *ngIf="fullName.errors?.['pattern']">Enter a valid Name</div>
        </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Type your email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type your password"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        <small
          *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
          class="block p-error"
        >
          <div *ngIf="confirmPassword.errors?.['required']">Confirm the password</div>
        </small>
        <small
          class="block p-error"
          *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
        >
          Passwords should match
        </small>
      </div>
      <p-button
        label="Register"
        styleClass="w-full"
        [disabled]="registerForm.invalid"
        type="submit"
        class="p-button-raised p-button-primary hover-effect"
      ></p-button>
      <div class="mt-2 text-center">
        Already a member? <a routerLink="/login">Login</a>
      </div>
    </div>
  </p-card>
</form>
