
<div class="addTask flex justify-content-center align-items-center h-screen" *ngIf="false">
    <p-button pRipple label="Add Task" icon="pi pi-plus" badgeClass="p-badge-contrast" outlined="true" (click)="openCreate()" />
</div>  

<!-- Task Table -->
<div class="table-container" *ngIf="tasks && tasks.length > 0">
    <p-table [value]="tasks" class="p-datatable-responsive custom-table">
      <ng-template pTemplate="header">
        <tr>
          <th>Task Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.taskName }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td class="action">
            <button pButton label="Edit" icon="pi pi-pencil" styleClass="p-button-sm p-button-info " (click)="editTask(task)"></button>
            <button pButton label="Delete" icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="deleteTask(task)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
